<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a person</title>
</head>
<body>
<h1>Add a person to the address book</h1>

<form action="/saveperson"  th:object="${aPerson}" method="post">

    <!-- the following line is necessary to update info for one person -->
    <input type="hidden" th:field="*{id}">


    <!-- has errors makes sure we go back to the form if any things have not been met -->
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    <label for="firstName">Enter a first name</label>
    <input type="text" th:field="*{firstName}">
    <label for="lastName">Enter a last name</label>
    <input type="text" th:field="*{lastName}">

    <p th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></p>
    <label for="emailAddress">Email address</label>
    <input type="text" th:field="*{emailAddress}">

    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
    <label for="phoneNumber">Phone Number</label>
    <input type="text" th:field="*{phoneNumber}">

    <!-- changed to save from add below -->

    <button type="submit">Save person</button>




</form>



</body>
</html>

<!--

    <!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a library book</title>
</head>
<body>
    <h1>Add a book to the library</h1>
    <form action="/savebook" method="post" th:object="${aBook}" >
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

        <input type="hidden" th:field="*{id}">

        <label for="title">Enter a title</label>
        <input type="text" th:field="*{title}">
        <label for="yearPub">Enter a Year of Publication</label>
        <input type="text" th:field="*{yearPub}">

        <p th:if="${#fields.hasErrors('authorEmail')}" th:errors="*{authorEmail}"></p>
        <label for="authorEmail">Author's email</label>
        <input type="text" th:field="*{authorEmail}">

        <button type="submit">Add book</button>


    </form>
</body>
</html>   -->